{% extends 'common/base.html' %}
{% load static %}

{% block title %}
    <title>Главная - SFinder</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'landing/css/index.css' %}">
{% endblock %}


{% block content %}
    <div class="upper-block">
        <div class="container">
            <div class="row">
                <div class="main-text col-md-12">
                    <strong class="main-text-strong">SFinder</strong> - люди и проекты найдутся легко
                </div>
                <!-- end of main-text -->
            </div>
            <div class="row">
                <button type="button" id="button-main" class="btn btn-dark col-md-4 button-main">Присоединиться <img
                        src="{% static 'landing/img/index/mouse.svg' %}" alt="Мышка" class="mouse-icon"></button>
                <ul class="offset-md-3 col-md-5 statistics-list">
                    <li class="statistics-list-item">120 Пользователей онлайн</li>
                    <li class="statistics-list-item">1000 Строк кода в день</li>
                    <li class="statistics-list-item">800 Активных проектов</li>
                </ul>
            </div>
            <!-- end of row -->
            <div class="row">
                <a class="mx-auto down_arrow" href="#"><img src="{% static 'landing/img/index/down_arrow.svg' %}"
                        alt="asd"></a>
            </div>
        </div>
        <!-- end of container -->
    </div>
    <!-- end of upper-block -->

    <div class="lower-block">
        <div class="container">
            <div class="opportunities">
                <div class="offset-md-3 col-md-6 opportunities-header">Что мы можем?</div>
                <div class="row">
                    <div class="col-md-4 opportunities-tile">
                        <img class="mx-auto tile-icon" src="{% static 'landing/img/index/project.png' %}" alt="">
                        <div class="tile-header">Работа с проектами</div>
                        <div class="mx-auto tile-horizontal-line"></div>
                        <div class="tile-text">Каждый из разработчиков может создать свой проект и привлечь к нему внимание
                            других
                            пользователей</div>
                    </div>
                    <!-- /.tile -->
                    <div class="col-md-4 opportunities-tile">
                        <img class="mx-auto tile-icon" src="{% static 'landing/img/index/chat.png' %}" alt="">
                        <div class="tile-header">Общение</div>
                        <div class="mx-auto tile-horizontal-line"></div>
                        <div class="tile-text">Наш сервис имеет функцию встроенного мессенджера, которая позволяет находить
                            новых
                            друзей по интересам</div>
                    </div>
                    <!-- /.tile -->
                    <div class="col-md-4 opportunities-tile">
                        <img class="mx-auto tile-icon" src="{% static 'landing/img/index/find.png' %}" alt="">
                        <div class="tile-header">Общение</div>
                        <div class="mx-auto tile-horizontal-line"></div>
                        <div class="tile-text">Наш сервис имеет функцию встроенного мессенджера, которая позволяет находить
                            новых
                            друзей по интересам</div>
                    </div>
                    <!-- /.tile -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.opportunities -->
        </div>
        <div class="workspace">
            <div class="workspace-header">Рабочее пространство</div>
            <div class="mx-auto workspace-horizontal-line"></div>
            <div class="workspace-content"></div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.lower-block -->

    <!-- button redirect -->
    <script>
        const btn = document.getElementById('button-main');
        btn.addEventListener('click', function() {
            location = "/accounts/register";
        });
    </script>
{% endblock %}