
body {
    background-image: url(pevko.jpg);
    background-color: #c7b39b;
}

div {
    background-color: #ffd700;
    display-style: block;
    text-align: center;
    width: 1200px
}
h1 {
    font-size: 48px;
}