<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SFinder - главная</title>
  <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
</head>

<body>

  <div class="upper-block">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <img src="img/logo.png" alt="Логотип SFinder" class="logo">
        </div>
        <div class="hat-nav col-md-6 offset-md-5">
          <a href="" class="hat-nav-item">Цели проекта</a>
          <a href="" class="hat-nav-item">Связаться с нами</a>
          <a href="" class="hat-nav-item">Авторизация</a>
        </div>
        <!-- end of hat-nav -->
      </div>
      <!-- end of row -->
      <div class="row">
        <div class="main-text col-md-12">
          <strong class="main-text-strong">Наши цели</strong>
          <p>Объединить  разработчиков в единую социальную сеть направленную на совместную проектную деятельность, независимо от местонахождения пользователя.
            Создавать и реализовывать  проекты, идеи которые будут менять мир к лучшему.
            Находить  людей, проекты схожими с нашими интересами.</p>
        </div>
        <!-- end of main-text -->
      </div>
    </div>
    <!-- end of container -->
  </div>
  <!-- end of upper-block -->

  <div class="footer">
    <div class="copyright">© Copyright 2021 SFinder - All Rights Reserved</div>
  </div>
  <!-- /.footer -->

</body>
</html>