{% load static %}

<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SFinder - главная</title>
  <!-- favicon -->
  <link rel="shortcut icon" href="{% static 'main/img/bg.jpg' %}" type="image/x-icon">
  <!-- imports -->
  <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body class="auth">

<div class="upper-block">
  <div class="container">
        <img src="{% static 'main/img/logo.png' %}" alt="Логотип SFinder" class="logo">
        <div class="hat-nav">
          <a href="" class="hat-nav__item">Цели проекта</a>
          <a href="" class="hat-nav__item">Связаться с нами</a>
          <a href="" class="hat-nav__item">Авторизация</a>
      </div>
    <form class="auth-form" action="" method="POST">
      <h1 class="auth-form__header">Регистрация</h1>
      {{ form.as_p }}
      <button type="submit" class="auth-form__button">Регистрация</button>
    </form>
  </div>
  <!-- end of container -->
</div>
<!-- end of upper-block -->

<footer class="footer align-self-end">
  <div class="footer__text">© Copyright 2021 SFinder - All Rights Reserved</div>
</footer>
<!-- /.footer -->

</body>
</html>