* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: rgb(43, 41, 41);
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    padding-top: 50px;
}

.hat-nav {
    padding-left: 100px;
}

.hat-nav__item {
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    padding-left: 18px;
    text-decoration: none;
}

.auth-form {
    margin-top: 160px;
    text-align: center;
}

.auth-form__header {
    margin-bottom: 40px;
    color: #FFFFFF;
    font-size: 48px;
    text-shadow: 0 0 5px rgb(37, 37, 37);
}

.auth-form__input {
    border-radius: 5px;
    border: 1px solid #3f3f3f;
    height: 40px;
    font-size: 18px;
    margin-top: 20px;
    padding: 7px;
    width: 340px;
}

.auth-form__button {
    margin-top: 30px;
    transition-duration: 0.4s;
    width: 200px;
}

.auth-form__button:hover {
    background-color: rgb(24, 13, 122);
    color: rgb(212, 212, 212);
}

.footer {
    background-color: rgb(56, 56, 56);
    height: 5%;
    position:fixed;
    top: 95%;
    width: 100%;
}

.footer__text {
    color: #F1F1F1;
    font-size: 21px;
    padding-top: 10px;
    text-align: center;
}

label {
    color: white;
    text-shadow: 0 0 3px black;
    font-weight: bold;
    position: absolute;
    left: 30%;
}

.helptext {
    display: none;
}